.cl-item {
  text-decoration: none !important;
  min-width: 30%;
  margin-right: 1rem;
  //background-color: #ccc;
  border: 1px solid #ccc;
  position: relative;

  .cate_name-no-image {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    display: inline;
    vertical-align: middle;
    transform: translateY(50%);
  }

  .cate_name {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    // position: absolute;
    // bottom: 20%;
    // left: 0;
    // right: 0;

  }
}
